.template-creator-box {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fragment-list-container {
    height: 90%;
}

.fragment-add-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.fragment-type-dropdown {
    max-width: 300px;
}